.main {
  background-color: #A67777;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 5%;
  top: 0px;
  background-color: #FFFFFF;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  color: #FFFFFF;
  padding: 3%;
  display: flex;
  justify-content: center;
  background-color: #F2BDC1;
  border-radius: 5px;
  width: 60%;
}

.secondary {
  background-color: #A67777;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.signup-link {
  color: #C4C4C4;
  text-decoration: none;
}
