.main {
  background-color: #A67777;
}

.secondary {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  position: relative;
  top: 0px;
  width: 100%;
}

.role-check {
  justify-content: center;
  color: #FFFFFF;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.btn-container {
  justify-self: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: #F2BDC1;
  border-radius: 5px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 200px;
}

.button:disabled {
  opacity: 0.6;
}

.form {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
